//colors
$color_one: #333;
$color_two: #286efa;
$white: white;
$gray: gray;
$color_three: #dad9d9;
$color_four: #585858;
$color_five: #ededed;
$red: red;

//fonts
$font_0: sans-serif;

//body, html
%extend_1 {
	font-family: $font_0;
	margin: 0;
	color: $color_one;
}

//input, select
%extend_2 {
	font-size: 1rem;
	outline: none;
	border: 1px solid $color_three;
	
	border-radius: 5px;
	padding: 0.7rem;
	color: $gray;
	transition: 0.1s ease-out;
	width: 100%;
	width: fill-available;
}


body {
	@extend %extend_1;
}
html {
	@extend %extend_1;
}
a {
	color: $color_two;
	text-decoration: none;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.row {
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.column {
	position: relative;
	min-height: 1px;
	float: left;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 36%;
}
.col-6 {
	width: 50%;
}
.col-8 {
	width: 64%;
}
.col-12 {
	width: 100%;
}
.first {
	min-height: inherit;
	background: $white;
}
.top-text {
	float: right;
	padding: 20px;
	span {
		font-size: 30px;
		vertical-align: bottom;
	}
}
.second {
	height: 100%;
	background: $color_two;
  position: fixed;
  right: 0;
}
.text-inside {
	padding: 30px;
	margin: 40% auto;
	color: $white;
	width: 60%;
	h1 {
		text-align: center;
	}
	p {
		line-height: 1.55;
	}
}
.text-info {
	color: $color_one;
	font-size: 12px;
}
.material-textfield {
	position: relative;
	margin: 20px 0;
}
.form {
	margin: 0 auto;
	padding: 70px 85px;
}
.select-text {
	font-size: 0.85rem;
}
label {
	position: absolute;
	font-size: 0.85rem;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: $white;
	color: $gray;
	padding: 0 0.3rem;
	margin: 0 0.5rem;
	transition: .1s ease-out;
	transform-origin: left top;
	pointer-events: none;
}
input {
	@extend %extend_2;
	&:focus {
		border-color: $color_two;
		+ label {
			color: $color_two;
			top: 0;
			transform: translateY(-50%) scale(.9);
		}
	}
	&:not(:placeholder-shown) + label {
		top: 0;
		transform: translateY(-50%) scale(.9);
	}
}
select {
	@extend %extend_2;
}
.field-icon {
	margin-left: -40px;
	position: relative;
	z-index: 2;
	font-size: 17px !important;
}
.label-normal {
	font-weight: normal;
}
.button {
	cursor: default;
	color: $color_four;
	background-color: $color_five;
	border-radius: 1px;
	display: inline-block;
	font-size: 0.7em;
	font-weight: normal;
	line-height: 1.2;
	margin-right: 0.3125em;
	margin-bottom: 0.3125em;
	padding: 1em 0.6875em;
}
.enabled {
	cursor: pointer;
	background-color: $color_two;
	color: $white;
}
.error {
	border-color: $red;
}
.label-error {
	color: $red;
}
.error-message {
	color: $red;
	margin-bottom: 1em;
	font-size: 0.8rem;
}
.help-message {
	color: $gray;
	margin: 1em 0;
	font-size: 0.8rem;
}