.container {
  position: relative;
  margin: 0 auto;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  max-width: 100%;
}

.grid-1.alpha,
.grid-2.alpha,
.grid-3.alpha,
.grid-4.alpha,
.grid-5.alpha,
.grid-6.alpha,
.grid-7.alpha,
.grid-8.alpha,
.grid-9.alpha,
.grid-10.alpha,
.grid-11.alpha,
.grid-12.alpha,
.grid-13.alpha,
.grid-14.alpha,
.grid-15.alpha,
.grid-16.alpha {
  margin-left: 0;
}

.grid-1.omega,
.grid-2.omega,
.grid-3.omega,
.grid-4.omega,
.grid-5.omega,
.grid-6.omega,
.grid-7.omega,
.grid-8.omega,
.grid-9.omega,
.grid-10.omega,
.grid-11.omega,
.grid-12.omega,
.grid-13.omega,
.grid-14.omega,
.grid-15.omega,
.grid-16.omega {
  margin-right: 0;
}

.grid-1.center,
.grid-2.center,
.grid-3.center,
.grid-4.center,
.grid-5.center,
.grid-6.center,
.grid-7.center,
.grid-8.center,
.grid-9.center,
.grid-10.center,
.grid-11.center,
.grid-12.center,
.grid-13.center,
.grid-14.center,
.grid-15.center,
.grid-16.center {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1120px;
}

.grid-1 {
  width: 50px;
}

.grid-1.large {
  width: 62.5px;
}

.grid-2 {
  width: 120px;
}

.grid-2.large {
  width: 150px;
}

.grid-3 {
  width: 190px;
}

.grid-3.large {
  width: 237.5px;
}

.grid-4 {
  width: 260px;
}

.grid-4.large {
  width: 325px;
}

.grid-5 {
  width: 330px;
}

.grid-5.large {
  width: 412.5px;
}

.grid-6 {
  width: 400px;
}

.grid-6.large {
  width: 500px;
}

.grid-7 {
  width: 470px;
}

.grid-7.large {
  width: 587.5px;
}

.grid-8 {
  width: 540px;
}

.grid-8.large {
  width: 675px;
}

.grid-9 {
  width: 610px;
}

.grid-9.large {
  width: 762.5px;
}

.grid-10 {
  width: 680px;
}

.grid-10.large {
  width: 850px;
}

.grid-11 {
  width: 750px;
}

.grid-11.large {
  width: 937.5px;
}

.grid-12 {
  width: 820px;
}

.grid-12.large {
  width: 1025px;
}

.grid-13 {
  width: 890px;
}

.grid-13.large {
  width: 1112.5px;
}

.grid-14 {
  width: 960px;
}

.grid-14.large {
  width: 1200px;
}

.grid-15 {
  width: 1030px;
}

.grid-15.large {
  width: 1287.5px;
}

.grid-16 {
  width: 1100px;
}

.grid-16.large {
  width: 1375px;
}

#wrap,
.wrap {
  padding: 20px 0;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 100%;
  z-index: -1;
  position: relative;
  vertical-align: middle;
}

.list-hex-grid {
  text-align:center;
  margin-top: 55px;
  margin-bottom: 55px;
  font-size: 0px;
  word-spacing: 1px;
  word-spacing: 0;
}

.list-hex-grid.with-labels {
  margin-bottom: 200px;
}

.list-hex-grid img {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}

.list-hex-grid div.hex {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-top: 37px;
  margin-bottom: 37px;
  float: none;
  position: relative;
  z-index: 10;
}

.list-hex-grid div.hex>a,
.list-hex-grid div.hex>div {
  height: 110px;
  line-height: 220px;
}

.no-csstransforms .list-hex-grid div.hex .inner {
  top: -55px;
  left: auto;
}

.list-hex-grid div.hex .hex-1:before,
.list-hex-grid div.hex .hex-2:before {
  height: 220px;
  width: 220px;
}

.list-hex-grid div.hex .hex-1:before {
  -moz-transform: rotate(-60deg) translate(-110px, 0);
  -ms-transform: rotate(-60deg) translate(-110px, 0);
  -webkit-transform: rotate(-60deg) translate(-110px, 0);
  transform: rotate(-60deg) translate(-110px, 0);
}

.list-hex-grid div.hex .hex-2:before {
  -moz-transform: rotate(60deg) translate(40px, 40px);
  -ms-transform: rotate(60deg) translate(40px, 40px);
  -webkit-transform: rotate(60deg) translate(40px, 40px);
  transform: rotate(60deg) translate(40px, 40px);
}

.list-hex-grid div.hex>a,
.list-hex-grid div.hex>div {
  font-size: 18px;
  word-spacing: 1px;
  -moz-transition: none 1s;
  -o-transition: none 1s;
  -webkit-transition: none 1s;
  transition: none 1s;
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -moz-background-size: auto 220px;
  -o-background-size: auto 220px;
  -webkit-background-size: auto 220px;
  background-size: auto 220px;
  text-align: center;
  display: block;
  border: none;
  color: #fff;
  -webkit-backface-visibility: hidden;
}

.list-hex-grid div.hex p {
  color: #fff;
  font-size: 16px;
}

.list-hex-grid div.hex .inner {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  white-space: normal;
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: #fff!important;
  font-family: "freightsans_regular", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 22px;
}

.no-csstransforms .list-hex-grid div.hex .inner {
  position: relative;
}

.list-hex-grid div.hex .inner img {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.list-hex-grid div.hex .hex-1,
.list-hex-grid div.hex .hex-2 {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
  top: 0;
  left: 0;
  overflow: hidden;
  background: inherit;
  -webkit-backface-visibility: hidden;
}

.list-hex-grid div.hex .hex-1:before,
.list-hex-grid div.hex .hex-1 .after,
.list-hex-grid div.hex .hex-2:before,
.list-hex-grid div.hex .hex-2 .after {
  z-index: -1;
}

.list-hex-grid div.hex .hex-1:before,
.list-hex-grid div.hex .hex-2:before {
  content: '';
  position: absolute;
  background: inherit;
  left: 0;
  background: inherit;
}

.list-hex-grid div.hex .hex-1 {
  z-index: -1;
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.list-hex-grid div.hex .hex-1:before {
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.list-hex-grid div.hex .hex-2 {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.list-hex-grid div.hex .hex-2:before {
  bottom: 0;
}

.list-hex-grid div.hex .after {
  -moz-transition: none 1s;
  -o-transition: none 1s;
  -webkit-transition: none 1s;
  transition: none 1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background: #16a6b6;
}

.list-hex-grid div.hex.primary>a,
.list-hex-grid div.hex.primary>div {
  background-color: #16a6b6;
}

.list-hex-grid div.hex.primary .after {
  background-color: #16a6b6;
  border-color: #16a6b6;
}

.list-hex-grid div.hex.secondary>a,
.list-hex-grid div.hex.secondary>div {
  background-color: #ee6557;
}

.list-hex-grid div.hex.secondary .after {
  background-color: #ee6557;
  border-color: #ee6557;
}

.list-hex-grid div.hex.tertiary>a,
.list-hex-grid div.hex.tertiary>div {
  background-color: #b3b3b3;
}

.list-hex-grid div.hex.tertiary .after {
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}

.list-hex-grid div.hex.quaternary>a,
.list-hex-grid div.hex.quaternary>div {
  background-color: #fff;
}

.list-hex-grid div.hex.quaternary .after {
  background-color: #fff;
  border-color: #fff;
}

.list-hex-grid div.hex.plain-bg>a,
.list-hex-grid div.hex.plain-bg>div {
  background-color: #fff;
  border-color: #fff;
}

.list-hex-grid div.hex.invert .after,
.list-hex-grid div.hex.invert .inner {
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: none 1s;
  -o-transition: none 1s;
  -webkit-transition: none 1s;
  transition: none 1s;
}

.list-hex-grid div.hex.inline-bg img {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
}

.list-hex-grid div.hex.full-img img {
  max-height: 140%;
  width: auto;
}

.list-hex-grid hr {
  background-color: #fff;
}

.list-hex-grid h3 {
  color: #fff;
}

.list-hex-grid h3.flex {
  font-size: 1.25em;
  line-height: 1.375em;
}

.list-hex-grid h6.below {
  position: absolute;
  width: 100%;
  margin-top: 0;
  bottom: -84px;
}

.list-hex-grid .h1.large {
  font-size: 2em;
  line-height: 1.4;
}

.list-hex-grid.large div.hex {
  margin-top: 37px;
  margin-bottom: 37px;
  margin-top: 47px;
  margin-bottom: 47px;
}

.list-hex-grid.large div.hex>a,
.list-hex-grid.large div.hex>div {
  height: 150px;
  line-height: 300px;
}

.no-csstransforms .list-hex-grid.large div.hex .inner {
  top: -75px;
  left: auto;
}

.list-hex-grid.large div.hex .hex-1:before,
.list-hex-grid.large div.hex .hex-2:before {
  height: 300px;
  width: 300px;
}

.list-hex-grid.large div.hex .hex-1:before {
  -moz-transform: rotate(-60deg) translate(-150px, 0);
  -ms-transform: rotate(-60deg) translate(-150px, 0);
  -webkit-transform: rotate(-60deg) translate(-150px, 0);
  transform: rotate(-60deg) translate(-150px, 0);
}

.list-hex-grid.large div.hex .hex-2:before {
  -moz-transform: rotate(60deg) translate(55px, 55px);
  -ms-transform: rotate(60deg) translate(55px, 55px);
  -webkit-transform: rotate(60deg) translate(55px, 55px);
  transform: rotate(60deg) translate(55px, 55px);
}

.list-hex-grid.large div.hex>a,
.list-hex-grid.large div.hex>div {
  -moz-background-size: auto 300px;
  -o-background-size: auto 300px;
  -webkit-background-size: auto 300px;
  background-size: auto 300px;
}

.list-hex-grid.mid div.hex {
  margin-top: 37px;
  margin-bottom: 37px;
  width: 220px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.list-hex-grid.mid div.hex>a,
.list-hex-grid.mid div.hex>div {
  height: 127px;
  line-height: 254px;
}

.no-csstransforms .list-hex-grid.mid div.hex .inner {
  top: -63.5px;
  left: auto;
}

.list-hex-grid.mid div.hex .hex-1:before,
.list-hex-grid.mid div.hex .hex-2:before {
  height: 254px;
  width: 254px;
}

.list-hex-grid.mid div.hex .hex-1:before {
  -moz-transform: rotate(-60deg) translate(-127px, 0);
  -ms-transform: rotate(-60deg) translate(-127px, 0);
  -webkit-transform: rotate(-60deg) translate(-127px, 0);
  transform: rotate(-60deg) translate(-127px, 0);
}

.list-hex-grid.mid div.hex .hex-2:before {
  -moz-transform: rotate(60deg) translate(47px, 47px);
  -ms-transform: rotate(60deg) translate(47px, 47px);
  -webkit-transform: rotate(60deg) translate(47px, 47px);
  transform: rotate(60deg) translate(47px, 47px);
}

.list-hex-grid.mid div.hex>a,
.list-hex-grid.mid div.hex>div {
  -moz-background-size: auto 260px;
  -o-background-size: auto 260px;
  -webkit-background-size: auto 260px;
  background-size: auto 260px;
}

.list-hex-grid.modal-active div.hex>a,
.list-hex-grid.modal-active div.hex>div {
  -webkit-backface-visibility: visible;
}

.list-hex-grid.modal-active div.hex>a .hex-1,
.list-hex-grid.modal-active div.hex>a .hex-2,
.list-hex-grid.modal-active div.hex>div .hex-1,
.list-hex-grid.modal-active div.hex>div .hex-2 {
  -webkit-backface-visibility: visible;
}

.no-csstransforms .list-hex-grid>br {
  display: none!important;
}

.no-csstransforms .list-hex-grid div.hex {
  margin-top: 10px;
  margin-bottom: 10px;
}

.no-csstransforms .list-hex-grid div.hex .hex-1,
.no-csstransforms .list-hex-grid div.hex .hex-2,
.no-csstransforms .list-hex-grid div.hex .hex-1:before,
.no-csstransforms .list-hex-grid div.hex .hex-2:before {
  display: none!important;
}

.no-csstransforms .list-hex-grid div.hex>a,
.no-csstransforms .list-hex-grid div.hex>div {
  padding: 50px 0;
}

.no-csstransforms .list-hex-grid div.hex.inline-bg {
  overflow: hidden;
}

.no-csstransforms .list-hex-grid div.hex.inline-bg>a,
.no-csstransforms .list-hex-grid div.hex.inline-bg>div {
  overflow: hidden;
}

.no-csstransforms .list-hex-grid div.hex.inline-bg img {
  top: 9%;
  left: 12%;
  max-width: 75%;
}

.list-icon-items {
  margin-top: -.9em;
  word-spacing: 0;
}

.list-icon-items>li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: none;
  vertical-align: top;
}

.list-icon-items.large-margins>li {
  margin: 2.75em 1em 0;
}

.list-icon-items.no-margins {
  margin-top: -100px;
}

.list-icon-items.no-margins>li {
  margin: 2.75em 0 0;
}

.list-icon-items h6 {
  margin-top: 1.5em;
}

.list-icon-items i {
  position: relative;
}

.list-icon-items .pulse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: none;
  border: 1px solid #ee6557;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 275ms;
  -o-transition-duration: 275ms;
  -webkit-transition-duration: 275ms;
  transition-duration: 275ms;
  -moz-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
  -o-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
  -webkit-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
  transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
}

.list-icon-items a {
  border: none;
  display: block;
}

.list-icon-items a .pseudo-link {
  word-wrap: break-word;
  word-break: break-all;
}

.list-icon-items a:hover .button,
.list-icon-items a:focus .button,
.list-icon-items a:active .button {
  background-color: #16a6b6;
}

.list-icon-items a:hover .pulse,
.list-icon-items a:focus .pulse,
.list-icon-items a:active .pulse {
  opacity: 1;
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  -moz-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  -o-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  -webkit-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.list-icon-items li.secondary .pulse {
  border: 1px solid #C5C5C5;
}

.list-icon-items .button,
.list-icon-items button {
  -webkit-backface-visibility: hidden;
}

.no-csstransitions .pulse {
  display: none;
}

@media only screen and (min-width: 720px) {
  .checklist>li {
    float: left;
    width: 50%;
  }
  .checklist>li:nth-child(odd) {
    padding-right: 1.5em;
  }
  .checklist>li:nth-child(even) {
    padding-left: 1.5em;
  }
}

.checklist>li:before {
  content: "\2B22";
  position: absolute;
  margin-left: -2em;
  color: #ee6557;
  font-size: 0.55em;
}

.checklist-title {
  text-align: left;
  margin-top: 2em;
  margin-bottom: 1em;
}

@-moz-keyframes frustrated-buffalo {
  0% {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@-webkit-keyframes frustrated-buffalo {
  0% {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@-o-keyframes frustrated-buffalo {
  0% {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@-ms-keyframes frustrated-buffalo {
  0% {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@keyframes frustrated-buffalo {
  0% {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

.logo {
  margin-top: -25px;
  text-indent: -999em;
}

.logo a {
  padding: 0;
  border: none;
}

.logo a img {
  display: block;
  height: auto;
}

.not-found .logo-img {
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  -ms-animation-duration: 0.25s;
  -o-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-name: frustrated-buffalo;
  -moz-animation-name: frustrated-buffalo;
  -ms-animation-name: frustrated-buffalo;
  -o-animation-name: frustrated-buffalo;
  animation-name: frustrated-buffalo;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
}

#tagline {
  font-size: 84px;
  word-spacing: 1px;
  line-height: 90px;
  font-family: "neuzeitgrobold", sans-serif;
  text-transform: none;
  letter-spacing: -3px;
  color: #181818;
  text-align: center;
  margin: .95em 0 0;
}

#footer {
  margin-top: 180px;
  margin-bottom: 0;
}

#footer .list-icon-items>li {
  float: left;
}

#footer .list-icon-items>li .has-border {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border-bottom: 1px solid #16a6b6;
}

#footer footer {
  padding-top: 40px;
}

.icon-box {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  word-spacing: 1px;
  background-color: #C5C5C5;
  color: #fff;
  line-height: 52px;
  width: 50px;
  height: 50px;
  border: none;
  display: block;
  text-align: center;
}

.icon-box:hover,
.icon-box:active,
.icon-box:focus {
  color: #fff;
  background-color: #16a6b6;
}

#to-top {
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: 9997;
  position: fixed;
  bottom: 25%;
  right: 10px;
  display: none;
}

#work-projects {
  text-align: left;
  margin-top: 4%;
  position: relative;
}

#work-projects .container .grid-12 {
  width: 70%;
  margin-right: 2%;
}

#work-projects .container .grid-4 {
  float: right;
  width: 26%;
  margin-left: 2%;
}

#work-projects h2 {
  font-family: "neuzeitgrobold", sans-serif;
  text-transform: none;
  letter-spacing: -3px;
  font-size: 36px;
  word-spacing: 1px;
  line-height: 42px;
  letter-spacing: -1px;
}

#work-projects .inner {
  margin-top: 1em;
}

#work-projects .icon-box {
  -moz-transition: background-color 275ms;
  -o-transition: background-color 275ms;
  -webkit-transition: background-color 275ms;
  transition: background-color 275ms;
  position: absolute;
  top: 275px;
  z-index: 1;
}

#work-projects .icon-box.left {
  left: -10px;
}

#work-projects .icon-box.right {
  right: -10px;
}

#work-projects.fixed-arrows .icon-box {
  position: fixed;
  top: 50%;
}

#work-projects.fixed-arrows .icon-box.left {
  left: 10px;
}

#work-projects.fixed-arrows .icon-box.right {
  right: 10px;
}

#work-projects.slider-loaded .slider-inner {
  filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.project {
  top: 0;
  left: 0;
  width: 100%;
}

.project-header {
  position: relative;
}

.project-header .grid-12 {
  position: relative;
}

.project-header .imac {
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.tags a,
.tags .link-like {
  display: block;
  border: none;
  color: #ee6557;
  cursor: pointer;
  -moz-transition: color 275ms;
  -o-transition: color 275ms;
  -webkit-transition: color 275ms;
  transition: color 275ms;
}

.tags a:hover,
.tags a:focus,
.tags a:active,
.tags a.active,
.tags .link-like:hover,
.tags .link-like:focus,
.tags .link-like:active,
.tags .link-like.active {
  color: #cb2514;
}

.slider-wrap {
  position: relative;
  margin-bottom: 100px;
}

.slider-inner {
  position: relative;
  filter: inherit;
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.project-slider {
  margin: 0;
  position: absolute;
  top: 5.1%;
  left: 3.9%;
  right: 3.9%;
  bottom: 26.2%;
  height: auto;
  width: auto;
  overflow: hidden;
}

.project-slider li {
  position: absolute!important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}

.project-slider img {
  width: 100%;
}

.interns-icon-items.list-icon-items {
  font-size: 0;
}

.interns-icon-items.list-icon-items>li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  word-spacing: 1px;
  width: 33.3333333333%;
  margin-right: 0;
  margin-left: 0;
  padding-right: 1em;
  padding-left: 1em;
}

.interns-form {
  margin-top: 3.5em;
}

.list-interns {
  margin-top: 1em;
}

.checklist-icon {
  -moz-box-shadow: 0 0 0 2px #fff, 0 0 0 3px #16a6b6;
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 3px #16a6b6;
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #16a6b6;
  transform: rotate(-15deg);
}

.footnote {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 65px;
  padding: 20px 35px 24px;
  border-radius: 5px;
  background-color: #fff;
}

.footnote+.section {
  padding-top: 10px;
}

.footnote-header {
  margin-top: 115px;
}

.footnote-header+.section {
  margin-top: 100px;
}

@media screen and (max-width: 1290px) {
  #work-projects .container {
    width: 89%;
  }
}

html body .mq-mid,
html body .mq-small,
html body .mq-mobile,
html body .mq-mid-i-block,
html body .mq-small-i-block,
html body .mq-mobile-i-block {
  display: none!important;
}

html body .mq-wide {
  display: block!important;
}

html body .mq-wide-i-block {
  display: inline-block!important;
  *display: inline!important;
}

@media screen and (max-width: 1180px) {
  html body .mq-wide,
  html body .mq-small,
  html body .mq-mobile,
  html body .mq-wide-i-block,
  html body .mq-small-i-block,
  html body .mq-mobile-i-block {
    display: none!important;
  }
  html body .mq-mid {
    display: block!important;
  }
  html body .mq-mid-i-block {
    display: inline-block!important;
    *display: inline!important;
  }
  .container {
    width: 960px;
  }
  #nav p {
    width: 108px;
  }
  .list-hex-grid.large div.hex {
    margin-top: 37px;
    margin-bottom: 37px;
    width: 220px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .list-hex-grid.large div.hex>a,
  .list-hex-grid.large div.hex>div {
    height: 127px;
    line-height: 254px;
  }
  .no-csstransforms .list-hex-grid.large div.hex .inner {
    top: -63.5px;
    left: auto;
  }
  .list-hex-grid.large div.hex .hex-1:before,
  .list-hex-grid.large div.hex .hex-2:before {
    height: 254px;
    width: 254px;
  }
  .list-hex-grid.large div.hex .hex-1:before {
    -moz-transform: rotate(-60deg) translate(-127px, 0);
    -ms-transform: rotate(-60deg) translate(-127px, 0);
    -webkit-transform: rotate(-60deg) translate(-127px, 0);
    transform: rotate(-60deg) translate(-127px, 0);
  }
  .list-hex-grid.large div.hex .hex-2:before {
    -moz-transform: rotate(60deg) translate(47px, 47px);
    -ms-transform: rotate(60deg) translate(47px, 47px);
    -webkit-transform: rotate(60deg) translate(47px, 47px);
    transform: rotate(60deg) translate(47px, 47px);
  }
  .list-hex-grid.large div.hex>a,
  .list-hex-grid.large div.hex>div {
    font-size: 15px;
    -moz-background-size: auto 260px;
    -o-background-size: auto 260px;
    -webkit-background-size: auto 260px;
    background-size: auto 260px;
  }
  .list-hex-grid.small div.hex {
    margin-top: 37px;
    margin-bottom: 37px;
    width: 172px;
    margin-top: 33px;
    margin-bottom: 33px;
  }
  .list-hex-grid.small div.hex>a,
  .list-hex-grid.small div.hex>div {
    height: 99px;
    line-height: 198px;
  }
  .no-csstransforms .list-hex-grid.small div.hex .inner {
    top: -49.5px;
    left: auto;
  }
  .list-hex-grid.small div.hex .hex-1:before,
  .list-hex-grid.small div.hex .hex-2:before {
    height: 198px;
    width: 198px;
  }
  .list-hex-grid.small div.hex .hex-1:before {
    -moz-transform: rotate(-60deg) translate(-99px, 0);
    -ms-transform: rotate(-60deg) translate(-99px, 0);
    -webkit-transform: rotate(-60deg) translate(-99px, 0);
    transform: rotate(-60deg) translate(-99px, 0);
  }
  .list-hex-grid.small div.hex .hex-2:before {
    -moz-transform: rotate(60deg) translate(36px, 36px);
    -ms-transform: rotate(60deg) translate(36px, 36px);
    -webkit-transform: rotate(60deg) translate(36px, 36px);
    transform: rotate(60deg) translate(36px, 36px);
  }
  .list-blocks>li.grid-7 {
    width: 440px;
  }
  #footer {
    margin-top: 150px;
  }
}

@media screen and (max-width: 1050px) {
  #work-projects {
    font-size: 20px;
    line-height: 30px;
  }
  #work-projects .container .grid-12,
  #work-projects .container .grid-4 {
    display: block;
    float: none;
    text-align: center;
  }
  #work-projects .container .grid-4 {
    width: 100%;
    margin: 0;
  }
  #work-projects .container .grid-12 {
    width: 90%;
    width: 90%;
    margin: 80px auto 0;
  }
  #work-projects h2 {
    font-size: 60px;
    line-height: 70px;
  }
  #work-projects .inner {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  #work-projects .inner p:first-of-type {
    font-size: 24px;
    line-height: 32px;
  }
  .map .info {
    width: 45%;
  }
}

@media screen and (max-width: 1016px) {
  html body .mq-wide,
  html body .mq-mid,
  html body .mq-mobile,
  html body .mq-wide-i-block,
  html body .mq-mid-i-block,
  html body .mq-mobile-i-block {
    display: none!important;
  }
  html body .mq-small {
    display: block!important;
  }
  html body .mq-small-i-block {
    display: inline-block!important;
    *display: inline!important;
  }
  .container {
    width: 984px;
  }
  .grid-1 {
    width: 41.5px;
  }
  .grid-1.large {
    width: 51.875px;
  }
  .grid-2 {
    width: 103px;
  }
  .grid-2.large {
    width: 128.75px;
  }
  .grid-3 {
    width: 164.5px;
  }
  .grid-3.large {
    width: 205.625px;
  }
  .grid-4 {
    width: 226px;
  }
  .grid-4.large {
    width: 282.5px;
  }
  .grid-5 {
    width: 287.5px;
  }
  .grid-5.large {
    width: 359.375px;
  }
  .grid-6 {
    width: 349px;
  }
  .grid-6.large {
    width: 436.25px;
  }
  .grid-7 {
    width: 410.5px;
  }
  .grid-7.large {
    width: 513.125px;
  }
  .grid-8 {
    width: 472px;
  }
  .grid-8.large {
    width: 590px;
  }
  .grid-9 {
    width: 533.5px;
  }
  .grid-9.large {
    width: 666.875px;
  }
  .grid-10 {
    width: 595px;
  }
  .grid-10.large {
    width: 743.75px;
  }
  .grid-11 {
    width: 656.5px;
  }
  .grid-11.large {
    width: 820.625px;
  }
  .grid-12 {
    width: 718px;
  }
  .grid-12.large {
    width: 897.5px;
  }
  .grid-13 {
    width: 779.5px;
  }
  .grid-13.large {
    width: 974.375px;
  }
  .grid-14 {
    width: 841px;
  }
  .grid-14.large {
    width: 1051.25px;
  }
  .grid-15 {
    width: 902.5px;
  }
  .grid-15.large {
    width: 1128.125px;
  }
  .grid-16 {
    width: 964px;
  }
  .grid-16.large {
    width: 1205px;
  }
  .container {
    width: 840px;
  }
  #nav p {
    width: 87px;
  }
  #nav p.logo {
    width: 100px;
  }
  .list-hex-grid.large div.hex,
  .list-hex-grid div.hex {
    margin-top: 37px;
    margin-bottom: 37px;
    width: 190px;
    margin-top: 37px;
    margin-bottom: 37px;
  }
  .list-hex-grid.large div.hex>a,
  .list-hex-grid.large div.hex>div,
  .list-hex-grid div.hex>a,
  .list-hex-grid div.hex>div {
    height: 110px;
    line-height: 220px;
  }
  .no-csstransforms .list-hex-grid.large div.hex .inner,
  .no-csstransforms .list-hex-grid div.hex .inner {
    top: -55px;
    left: auto;
  }
  .list-hex-grid.large div.hex .hex-1:before,
  .list-hex-grid.large div.hex .hex-2:before,
  .list-hex-grid div.hex .hex-1:before,
  .list-hex-grid div.hex .hex-2:before {
    height: 220px;
    width: 220px;
  }
  .list-hex-grid.large div.hex .hex-1:before,
  .list-hex-grid div.hex .hex-1:before {
    -moz-transform: rotate(-60deg) translate(-110px, 0);
    -ms-transform: rotate(-60deg) translate(-110px, 0);
    -webkit-transform: rotate(-60deg) translate(-110px, 0);
    transform: rotate(-60deg) translate(-110px, 0);
  }
  .list-hex-grid.large div.hex .hex-2:before,
  .list-hex-grid div.hex .hex-2:before {
    -moz-transform: rotate(60deg) translate(40px, 40px);
    -ms-transform: rotate(60deg) translate(40px, 40px);
    -webkit-transform: rotate(60deg) translate(40px, 40px);
    transform: rotate(60deg) translate(40px, 40px);
  }
  .list-hex-grid.large div.hex>a,
  .list-hex-grid.large div.hex>div,
  .list-hex-grid div.hex>a,
  .list-hex-grid div.hex>div {
    font-size: 12px;
    -moz-background-size: auto 220px;
    -o-background-size: auto 220px;
    -webkit-background-size: auto 220px;
    background-size: auto 220px;
  }
  .list-hex-grid.small div.hex {
    margin-top: 37px;
    margin-bottom: 37px;
    width: 148px;
    margin-top: 33px;
    margin-bottom: 33px;
  }
  .list-hex-grid.small div.hex>a,
  .list-hex-grid.small div.hex>div {
    height: 85px;
    line-height: 170px;
  }
  .no-csstransforms .list-hex-grid.small div.hex .inner {
    top: -42.5px;
    left: auto;
  }
  .list-hex-grid.small div.hex .hex-1:before,
  .list-hex-grid.small div.hex .hex-2:before {
    height: 170px;
    width: 170px;
  }
  .list-hex-grid.small div.hex .hex-1:before {
    -moz-transform: rotate(-60deg) translate(-85px, 0);
    -ms-transform: rotate(-60deg) translate(-85px, 0);
    -webkit-transform: rotate(-60deg) translate(-85px, 0);
    transform: rotate(-60deg) translate(-85px, 0);
  }
  .list-hex-grid.small div.hex .hex-2:before {
    -moz-transform: rotate(60deg) translate(31px, 31px);
    -ms-transform: rotate(60deg) translate(31px, 31px);
    -webkit-transform: rotate(60deg) translate(31px, 31px);
    transform: rotate(60deg) translate(31px, 31px);
  }
  .list-blocks div.hex.grid-7 {
    width: 380px;
  }
  #footer {
    margin-top: 120px;
  }
}

@media screen and (max-width: 898px) {
  .container {
    width: 90%;
  }
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12,
  .grid-13,
  .grid-14,
  .grid-15,
  .grid-16 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .grid-1.large,
  .grid-2.large,
  .grid-3.large,
  .grid-4.large,
  .grid-5.large,
  .grid-6.large,
  .grid-7.large,
  .grid-8.large,
  .grid-9.large,
  .grid-10.large,
  .grid-11.large,
  .grid-12.large,
  .grid-13.large,
  .grid-14.large,
  .grid-15.large,
  .grid-16.large {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  html body .mq-wide,
  html body .mq-mid,
  html body .mq-small,
  html body .mq-wide-i-block,
  html body .mq-mid-i-block,
  html body .mq-small-i-block {
    display: none!important;
  }
  html body .mq-mobile {
    display: block!important;
  }
  html body .mq-mobile-i-block {
    display: inline-block!important;
    *display: inline!important;
  }
  .section {
    margin-top: 115px;
  }
  .section.slim {
    margin-top: 75px;
  }
  hr.center.grid-2 {
    width: 120px;
  }
  .list-hex-grid>br {
    display: none!important;
  }
  .list-hex-grid div.hex .hex-1,
  .list-hex-grid div.hex .hex-2,
  .list-hex-grid div.hex .hex-1:before,
  .list-hex-grid div.hex .hex-2:before {
    display: none!important;
  }
  .list-hex-grid div.hex>a,
  .list-hex-grid div.hex>div {
    padding: 50px;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-backface-visibility: visible;
  }
  .list-hex-grid div.hex.inline-bg {
    overflow: hidden;
  }
  .list-hex-grid div.hex.inline-bg>a,
  .list-hex-grid div.hex.inline-bg>div {
    overflow: hidden;
  }
  .list-hex-grid div.hex.inline-bg img {
    top: 50%;
    left: 50%;
    max-width: 75%;
    transform: translate(-50%, -50%);
  }
  .list-hex-grid div.empty {
    display: none;
  }
  .list-hex-grid.mobile-centred-imgs>li>a,
  .list-hex-grid.mobile-centred-imgs>li>div {
    padding: 0;
    height: 210px;
  }
  .list-hex-grid div.hex,
  .list-hex-grid.large div.hex,
  .list-hex-grid.mid div.hex,
  .list-hex-grid.small div.hex {
    width: 46.5%;
    margin: 1.75%;
  }
  .list-hex-grid div.hex>a,
  .list-hex-grid div.hex>div,
  .list-hex-grid.large div.hex>a,
  .list-hex-grid.large div.hex>div,
  .list-hex-grid.mid div.hex>a,
  .list-hex-grid.mid div.hex>div,
  .list-hex-grid.small div.hex>a,
  .list-hex-grid.small div.hex>div {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 32% 8px;
  }
  .list-hex-grid div.hex>a.flex,
  .list-hex-grid div.hex>div.flex,
  .list-hex-grid.large div.hex>a.flex,
  .list-hex-grid.large div.hex>div.flex,
  .list-hex-grid.mid div.hex>a.flex,
  .list-hex-grid.mid div.hex>div.flex,
  .list-hex-grid.small div.hex>a.flex,
  .list-hex-grid.small div.hex>div.flex {
    font-size: 14px;
  }
  .list-icon-items {
    margin-top: 0;
  }
  .list-icon-items.large-margins>li,
  .list-icon-items.no-margins>li,
  .list-icon-items>li {
    width: 46.5%;
    margin: 40px 1.75% 0;
  }
  .list-icon-items .button {
    display: none;
  }
  #footer .list-icon-items>li {
    width: 100%;
    margin: 0;
  }
  .list-blocks.instagram>li {
    width: auto;
  }
  .subsection {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #6a6a65;
  }
  .form-el {
    margin-top: 1em;
  }
  .form-el:first-child {
    margin-top: 0;
  }
  .list-mobile-spacing>li {
    margin-top: 40px;
    margin-bottom: 0;
  }
  #nav {
    font-size: 0;
    width: 320px;
  }
  #nav p {
    width: auto;
    font-size: 20px;
    word-spacing: 1px;
    line-height: 32px;
  }
  #nav p.text-left,
  #nav p.text-right {
    text-align: center!important;
  }
  #nav p.logo {
    margin-bottom: 15px;
    width: 120px;
  }
  #nav p,
  #nav p.alpha,
  #nav p.omega {
    margin: 0;
  }
  #nav a {
    padding: 0 10px;
    border: none;
  }
  #footer {
    width: 88%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  #footer .input-wrap {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
  #tagline {
    font-size: 60px;
    word-spacing: 1px;
    line-height: 70px;
    margin-top: .3em;
  }
  .list-blocks>li.grid-7 {
    width: 100%;
  }
  .list-blocks.instagram>li {
    max-width: 100%;
    height: auto;
    min-height: 200px;
  }
  #modal {
    width: 84%;
  }
  #modal .grid-7 {
    width: 100%;
    margin: 0;
  }
  #modal.wide-first .grid-7.alpha {
    width: 100%;
  }
  #modal.wide-first .grid-7.omega {
    width: 100%;
  }
  #modal.wide-first .player-hex {
    width: 65%;
    margin: 0 auto;
    padding: 30px 0 20px;
  }
  #modal.wide-first div.hex {
    width: 100%;
  }
  #modal.wide-first div.hex>a,
  #modal.wide-first div.hex>div {
    padding: 90px 0;
  }
  #modal-content .grid-7.alpha,
  #modal-content .grid-7.omega,
  #modal-footer .grid-7.alpha,
  #modal-footer .grid-7.omega {
    padding: 35px 40px;
  }
  #modal-content .grid-14.alpha,
  #modal-content .grid-14.omega,
  #modal-footer .grid-14.alpha,
  #modal-footer .grid-14.omega {
    padding: 35px 40px 0;
  }
  #modal-footer .grid-7.omega {
    display: none;
  }
  #footer {
    margin-top: 100px;
  }
  .with-labels .below {
    display: none;
  }
  #work-projects {
    margin-top: 50px;
  }
  .map-lower .grid-9 {
    padding-bottom: 0;
  }
  .hexalert {
    width: 330px;
  }
}

@media screen and (max-width: 750px) {
  #map-find-us {
    height: 450px;
  }
  .map .info {
    top: auto;
    bottom: 20px;
    right: 20px;
    width: 55%;
  }
}

@media screen and (max-width: 540px) {
  #page-border {
    margin: 14px;
  }
  .container {
    width: 92%;
  }
  .list-icon-items>li,
  .list-icon-items div.hex,
  .list-icon-items.large-margins>li,
  .list-icon-items.large-margins div.hex,
  .list-icon-items.no-margins>li,
  .list-icon-items.no-margins div.hex,
  .list-hex-grid>li,
  .list-hex-grid div.hex,
  .list-hex-grid.large>li,
  .list-hex-grid.large div.hex,
  .list-hex-grid.mid>li,
  .list-hex-grid.mid div.hex,
  .list-hex-grid.small>li,
  .list-hex-grid.small div.hex {
    width: 100%;
    margin: 40px 0 0;
    display: block;
    float: none;
  }
  #to-top {
    bottom: 15%;
    right: 5px;
  }
  #modal {
    width: 88%;
  }
  #modal-left,
  #modal-right {
    display: none;
  }
  #footer {
    margin-top: 80px;
  }
  #footer .input-wrap {
    width: 100%;
  }
  #work-projects {
    font-size: 18px;
    line-height: 24px;
  }
  #work-projects .container .grid-12 {
    margin-top: 70px;
  }
  #work-projects .inner {
    width: 84%;
  }
  #work-projects .inner p:first-child {
    font-size: 22px;
    line-height: 30px;
  }
  #work-projects .gwrap {
    margin-bottom: 60px;
  }
  .icon-box {
    font-size: 16px;
    word-spacing: 1px;
    line-height: 38px;
    width: 40px;
    height: 40px;
  }
  #map-find-us {
    height: 450px;
  }
  .map .info {
    width: auto;
    bottom: 20px;
    right: 20px;
    left: 20px;
  }
  .hexalert {
    width: 200px;
  }
}

@media screen and (max-width: 360px) {
  html {
    word-wrap: break-word;
    word-break: hyphenate!important;
  }
  #nav p {
    font-size: 19px;
  }
  #nav a {
    padding-right: 6px;
    padding-left: 6px;
  }
  #footer {
    margin-top: 50px;
  }
  #map-find-us {
    height: 400px;
  }
  .map .info {
    width: auto;
    bottom: 2px;
    right: 2px;
    left: 2px;
  }
}

.display-inline {
  display: inline!important;
}

.display-inline-block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  display: inline-block!important;
  *display: inline!important;
}

.display-block {
  display: block!important;
}

.display-none {
  display: none!important;
}

.float-left {
  float: left!important;
}

.float-right {
  float: right!important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.fonts-body {
  font-family: "freightsans_regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
}

.fonts-display {
  font-family: "freightsans_regular", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.fonts-display-secondary {
  font-family: "neuzeitgrobold", sans-serif;
  text-transform: none;
  letter-spacing: -3px;
}

.fonts-display-cnd {
  font-family: "neuzeitgroextblack", sans-serif;
  text-transform: none;
  letter-spacing: 0;
}

.overflow-hidden {
  overflow: hidden!important;
}

.overflow-visible {
  overflow: visible!important;
}

.margin-none {
  margin: 0!important;
}

.margin-top-none {
  margin-top: 0!important;
}

.margin-right-none {
  margin-right: 0!important;
}

.margin-bottom-none {
  margin-bottom: 0!important;
}

.margin-left-none {
  margin-left: 0!important;
}

.margin-top-small {
  margin-top: .55em!important;
}

.padding-none {
  padding: 0!important;
}

.padding-top-none {
  padding-top: 0!important;
}

.padding-right-none {
  padding-right: 0!important;
}

.padding-bottom-none {
  padding-bottom: 0!important;
}

.padding-left-none {
  padding-left: 0!important;
}

.colour-bg {
  color: #F5F5F5!important;
}

.colour-body {
  color: #6b6b6b!important;
}

.colour-mid-dark {
  color: #6a6a65!important;
}

.clearfix,
.container,
.list-hex-grid {
  *zoom: 1;
}

.clearfix:after,
.container:after,
.list-hex-grid:after {
  content: "";
  display: table;
  clear: both;
}

.position-relative {
  position: relative!important;
}

.position-absolute {
  position: absolute!important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.no-touch.js .interactive div.hex {
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.hexalert {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.special {
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
}

.no-border {
  border: none;
}

#ie6 {
  padding-bottom: 30px;
  display: none;
}

.stats {
  margin-top: 100px;
}

.stat {
  padding-bottom: 30px;
}

.stat dt {
  font-family: "neuzeitgrobold", sans-serif;
  text-transform: none;
  letter-spacing: -3px;
  font-size: 36px;
  word-spacing: 1px;
  line-height: 42px;
  letter-spacing: -1px;
  color: #181818;
  margin-bottom: 10px;
}

.hide {
  display: none;
}

.article {
  margin-top: 1em;
}

.article-banner {
  width: 100%;
}

.pull-left {
  float: left;
  margin: 1em 1em 1em 0;
}

@media screen and (max-width: 480px) {
  .pull-left {
    float: none;
    margin: 1em auto;
  }
}

.pull-right {
  float: right;
  margin: 1em 0 1em 1em;
}

@media screen and (max-width: 480px) {
  .pull-right {
    float: none;
    margin: 1em auto;
  }
}

.iframe {
  margin-top: 1em;
  position: relative;
  padding-bottom: 56.25%;
}

.iframe iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.code {
  margin-top: 1em;
}